graft docs
graft src
graft ci
graft tests

{% if cookiecutter.version_manager == 'bump2version' -%}
include .bumpversion.cfg
{% endif -%}

include LICENSE
include README.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib
